<html lang="en">
  <head>

     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- local CSS stylesheets -->
     <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
     <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
     <link rel="stylesheet" href="/styles/create_quiz.css" type="text/css" />

     <!-- external CSS stylesheets -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <!-- local javascript -->
     <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
     <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
     <script type="text/javascript" src="/scripts/createQuiz.js"></script>


     <title>Create</title>
    <%- include('partials/_header') %>
  </head>
  <body>
   <!-- forms to create quiz title and question/answers -->
   <main class="new-quiz-container">
    <section class="new-quiz">
      <div class="new-quiz-section">

        <section class="quiz-title-form">
          <div class="cognito create-error" id="no-title-error">⛔️ Give your quiz a title! ⛔️</div>
          <form class="quiz-title" method="POST" ACTION="">
          <textarea name="quiz-title-text" id="quiz-title-text" placeholder="What do you want to call your new quiz?"></textarea>
            <button class="btn btn-collapse-lg" type="submit" for="quiz-title-text">Next</button>
          </form>
        </section>


        <section class="cognito question-and-answers">
          <div class="cognito create-error" id="no-question-error">⛔️ Fill in the question text before submitting. ⛔️</div>
          <div class="cognito create-error" id="no-answer-error">⛔️ Fill in the answer options before submitting. ⛔️</div>
          <form class="new-question-form" id ="new-question-form" method="POST" ACTION="">
            <input name="quizId" id="question-id" type="hidden">
            <br>
              <textarea name="text" id="question-text" placeholder="Type your question here."></textarea>
              <br>
              <textarea name="option-a-text" id="option-a-text" placeholder="Type the CORRECT answer option here."></textarea>
              <br>
              <textarea name="option-b-text" id="option-b-text" placeholder="Type an INCORRECT answer option here."></textarea>
              <br>
              <textarea name="option-c-text" id="option-c-text" placeholder="Type an INCORRECT answer option here."></textarea>
              <br>
              <textarea name="option-d-text" id="option-d-text" placeholder="Type an INCORRECT answer option here."></textarea>
              <footer>
                <button class="btn btn-collapse-lg" type="submit" for="new-question-form" id="add-another-question">Add another question</button>
                <p>Save as<button class="btn btn-collapse-lg" type="submit" for="save-public" id="save-public">PUBLIC</button> or <button class="btn btn-collapse-lg" type="submit" for="save-private" id="save-private">PRIVATE</button></p>
              </footer>
            </form>
          </section>

        </div>
      </form>
      </div>
    </section>
  </main>



   <!-- ---------hide above & render below after quiz is submitted by user ---------------------------->
  <section class="cognito url-for-user-quiz" id="URL-for-user-quiz">
    <div class ="url-container">
      <h1>Your quiz has been saved!</quiz></h1>
      <br>
      <div class="url">Go to <a href="/quizzes">your quizzes</a> to see and share your new quiz.</p>
      <br>
    </div>
  </section>
</body>
</html>






