<html lang="en">
  <head>

     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Create</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- external CSS script  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  </head>

  <body>
   <!-- navbar -->

   <!-- form to create title -->

   <!-- form to enter question and answer options -->

   <!-- button to add another question(will refresh page and give new question form) -->

   <!-- buttons to save as public or private(both will save form and send to URL link page) -->

   <!-- ---------hide above & render below after quiz si submitted by user ---------------------------->

   <h1>'quiz title' has been saved as a 'public or private' quiz</quiz></h1>

   <p>URL: ${URL}</p>

   <p>Share your quiz:</p>
   <div>
     <button>twitter</button>
     <button>messenger</button>
     <button>whatsapp</button>
     <button>email</button>
   </div>

  </body>
</html>
